[submodule "first-order-model"]
	path = FirstOrderModel
	url = https://github.com/AliaksandrSiarohin/first-order-model.git
[submodule "SAM"]
	path = SAM
	url = https://github.com/yuval-alaluf/SAM.git
[submodule "Wav2Lip"]
	path = Wav2Lip
	url = https://github.com/Rudrabha/Wav2Lip.git
